Make sure you have this things installed in your desktop.
"pip install" them all

customtkinter==5.2.0
sounddevice==0.4.6
numpy==1.24.3
scipy==1.11.1
matplotlib==3.7.2
soundfile==0.12.1
librosa==0.10.1 
pydub==0.25.1
